{% extends "meetups/base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} All Meetups {% endblock %}
<!--  -->
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}" />
{% endblock %}
<!--  -->
{% block header_title %} We got great meetups ups! {% endblock %}
<!--  -->
{% block header_content %}
<p>Find out where you fit!</p>
{% endblock %}
<!--  -->
{% block body %}
<section>
	<h2>Upcoming Meetups</h2>
	{% if show_meetups %}
	<ol>
		{% for meetup in meetups %}
		<li class="meetup-item">
			<article>
				<div class="meetup-summary">
					<div class="meetup-image">
						<img src="" alt="" />
					</div>
					<div class="meetup-details">
						<h3>{{ meetup.title }}</h3>
						<address>{{ meetup.location }}</address>
					</div>
				</div>
				<div class="meetup-actions">
					<a href="{% url 'meetup_details' meetup.slug %}" class="btn"
						>More Details</a
					>
				</div>
			</article>
			Title: {{ meetup.title }}
		</li>
		{% endfor %}
	</ol>
	{% else %}
	<p>Sorry, no meetups found.</p>
	{% endif %}
</section>
{% endblock %}
