{% extends "meetups/base/base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} {{ selected_meetup.title }} {% endblock %}
<!--  -->
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}" />
{% endblock %}
<!--  -->
{% block header_title %}{% endblock %}
<!--  -->
{% block header_content %} {% endblock %}
<!--  -->
{% block body %}
<article>
	<img src="" alt="" />
	<section id="location">
		<h2>Meetup Location</h2>
		<address>This meetup happens in <span>LOCATION</span> (ADDRESS).</address>
	</section>
	<section id="details">
		<h2>What's this meetup about?</h2>
		<p>{{ selected_meetup.description }}</p>
		<footer>
			<p>
				Do you need more details? Please,
				<a href="#">contact the organizers</a>. But do not span us ;)
			</p>
		</footer>
	</section>
	<section id="registration">
		<h2>Join us!</h2>
		FORM
	</section>
</article>
{% endblock %}
